{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS App prototype invites to breast screening</h1>
      <p class="nhsuk-lede-text">
        A prototype to test content and usability for Breast Screening communications.
      </p>
  <!-- Primary cards with chevron -->
  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-full nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content nhsuk-card__content--primary">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/pages/ios-notification-message">NHS app invite - August 2025</a>
          </h2>
          
    <!-- Chevron image -->
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
          <!-- End Chevron image -->
  
        </div>
      </div>
  
    </li>

    <li class="nhsuk-grid-column-full nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content nhsuk-card__content--primary">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/pages/ios-notification-message-sms">SMS invite - August 2025</a>
          </h2>

<!-- Chevron image -->
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
          <!-- End Chevron image -->

           <li class="nhsuk-grid-column-full nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content nhsuk-card__content--primary">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="https://www.gov.uk/government/publications/breast-screening-helping-women-decide">Breast screening gov.uk content</a>
          </h2>

          <!-- Chevron image -->
          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
          <!-- End Chevron image -->

  </ul>

    <!-- Primary card with chevron -->
 <!--  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content nhsuk-card__content--primary">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="pages/services/order-hpv-kit-backup/flow-start-page">Research prototype backup - June 2025</a>
          </h2>
          <p class="nhsuk-card__description">

            <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

          <svg class="nhsuk-icon" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
            <circle cx="13.333" cy="13.333" r="13.333" fill="" />
            <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
              <path d="M15.438 13l-3.771 3.771" />
              <path data-name="Path" d="M11.667 9.229L15.438 13" />
            </g>
          </svg>
  
        </div>
      </div>
  
    </li>
  </ul>

  
 End of content -->

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible app-section-break--width-4">

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/">Pages</a>
        </li>
        <li>
          <a href="/components/">Components</a>
        </li>
        <li>
          <a href="/native">Native - install page</a>
        </li>
        <li>
          <a href="/pages/home-p9">UR - Prototype 1 (NHS App home screen with new message)</a>
        </li>
        <li>
          <a href="/frame">View prototype in a mobile frame</a>
        </li>
      </ul>

      <h2>Prototype data</h2>
      <p>The prototype uses <a href="/data-settings">default data</a> to create dynamic content, for example, the username that gets displayed on the home page.</p> 

    </div>
  </div>
{% endblock %}
