{% extends 'layout.html' %}

{% block pageTitle %}
  NHS App prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS App prototype invites to breast screening</h1>
      <p class="nhsuk-lede-text">
        A prototype to test new design styles, components and patterns for the NHS App.
      </p>

      <ul clas="nhsuk-list">
        <li>
          <a href="/pages/">Pages</a>
        </li>
        <li>
          <a href="/components/">Components</a>
        </li>
        <li>
          <a href="/native">Native - install page</a>
        </li>
        <li>
          <a href="/pages/home-p9">UR - Prototype 1 (NHS App home screen with new message)</a>
        </li>
        <li>
          <a href="/pages/ios-notification-message">UR - Prototype 2 (NHS App notification direct to message)</a>
        </li>
        <li>
          <a href="/pages/messages/sms-invite">UR - Prototype 3 (SMS message)</a>
        </li>
        <li>
          <a href="/pages/ios-notification-message-sms">Test notification screen (SMS message)</a>
        </li>
      </ul>

      <h2>Prototype data</h2>
      <p>The prototype uses <a href="/data-settings">default data</a> to create dynamic content, for example, the username that gets displayed on the home page.</p> 

    </div>
  </div>
{% endblock %}
